/target/
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
/src/config.rs
*.ui.in~
*.ui~
/.flatpak/
/vendor
/.vscode

/subprojects/blueprint-compiler

# Python
# For Workbench workspaces
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
